<div class="page">

  <div class="container">
    <div class="card">

      <div class="card__header">
        <h3>{{title}}</h3>
        <span class="close" (click)="reset()" *ngIf="formSubmitted && dataLoaded && !dataError">&times;</span>
      </div>

      <div class="row" *ngIf="!dataLoaded">
        <div class="column">
          <form (ngSubmit)="getActivities($event)">
            <fieldset>
              <!-- <label for="nameField">UserId</label> -->
              <input type="text" name="userId" [(ngModel)]="userId" placeholder="Enter employee id">
              <input type="password" name="key" [(ngModel)]="key" placeholder="API Key">
              <p><b>Tip!</b> To find the key, log into your Redmine account, then go to <q>My Account</q>. On the right
                you'll find access key.</p>
              <!-- <label for="ageRangeField">Age Range</label>
              <select id="ageRangeField">
                <option value="0-13">0-13</option>
                <option value="14-17">14-17</option>
                <option value="18-23">18-23</option>
                <option value="24+">24+</option>
              </select> -->
              <button class="button-primary" [disabled]="formSubmitted" type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="loader" *ngIf="formSubmitted && !dataLoaded && !dataError">
        <img src="assets/loader.gif" alt="loading..">
      </div>

      <div class="results" *ngIf="formSubmitted && dataLoaded && !dataError">
        <h6>Last updated: {{updated | date : 'MMM d, h:mm a'}}</h6>

        <div id="content">
          <ul class="timeline">
            <li class="event" [attr.data-date]="item.updated | date : 'h:mm a'" *ngFor="let item of activities">
              <h4><a [href]="item.link" target="_blank">{{item.title}}</a></h4>
              <!-- <p *ngFor="let para of item.content" [innerHTML]="para"></p> -->
              <div class="para" *ngFor="let para of item.content">
                <p *ngFor="let line of para" [innerHTML]="line"></p>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>